<div class="list_group">
{loop $tags $i $t}
{php $t[price] = str_replace('.00', '', $t[price]);}
{php $t[auction_price] = str_replace('.00', '', $t[auction_price]);}
{php $t[marketprice] = str_replace('.00', '', $t[marketprice]);}
{php if($t[auction_price] == '') $t[auction_price] = $t[price];}

<div class="list_group_box{if $i%$cols==0} list_group_box_r{/if}">
	<div><a href="{$t[linkurl]}" target="_blank" id="link_{$t[itemid]}"><img src="{$t[thumb]}" width="{$width}" height="{$height}" alt="{$t[alt]}" class="list_group_img"/></a></div>
	<div class="list_group_price">起拍价：<span class="list_group_s2">￥{$t[price]}</span>&nbsp;&nbsp;秒杀价：<span class="list_group_s2"><strong>{if $t[marketprice]>=99999999}无{else}￥{$t[marketprice]}{/if}</strong></span> </div>
	{if $t[fromtime]-86400 < time()}
	<?php if($t['process'] == 2){ ?>
	<div class="list_group_stop" onclick="Go(Dd('link_{$t[itemid]}').href);">￥<strong>{$t[auction_price]}</strong></div>
	<div class="list_group_title"><a href="{$t[linkurl]}" target="_blank"><strong>{$t[title]}</strong></a><span class="f_r"><strong class="list_group_s3">已被秒杀！</strong></span></div>
	<?php }else{  ?>
	<div class="list_group_join" onclick="Go(Dd('link_{$t[itemid]}').href);">￥<strong>{$t[auction_price]}</strong></div>
	<div class="list_group_title"><a href="{$t[linkurl]}" target="_blank"><strong>{$t[title]}</strong></a><span class="f_r"><strong class="list_group_s3">{$t[orders]}</strong>次出价</span></div>
	<?php } ?>
	{else}
	<div class="list_group_stop" onclick="Go(Dd('link_{$t[itemid]}').href);">￥<strong>{$t[auction_price]}</strong></div>
	<div class="list_group_title"><a href="{$t[linkurl]}" target="_blank"><strong>{$t[title]}</strong></a><span class="f_r" style="text-align:center; color:#CC0000"><strong>开拍时间：{timetodate($t[fromtime], 'Y年n月j日')}</strong></span></div>
	{/if}

</div>
{/loop} 
</div>
{if $showpage && $pages}<div class="pages c_b">{$pages}</div>{/if}